[submodule "gt_analysis"]
	path = gt_analysis
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_analysis.git
[submodule "gt_bender"]
	path = gt_bender
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_bender.git
[submodule "gt_centernote"]
	path = gt_centernote
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_centernote.git
[submodule "gt_check"]
	path = gt_check
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_check.git
[submodule "gt_cluster"]
	path = gt_cluster
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_cluster.git
[submodule "gt_keyboard"]
	path = gt_keyboard
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_keyboard.git
[submodule "gt_receiver"]
	path = gt_receiver
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_receiver.git
[submodule "gt_transmitter"]
	path = gt_transmitter
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_transmitter.git
[submodule "symmclass_client"]
	path = symmclass_client
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/symmclass_client.git
[submodule "symmclasses"]
	path = symmclasses
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/symmclasses.git
[submodule "SymmClass_server"]
	path = SymmClass_server
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/symmclass_server.git
