[submodule "gt_analysis"]
	path = gt_analysis
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_analysis.git
[submodule "gt_bender"]
	path = gt_bender
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_bender.git
[submodule "gt_centernote"]
	path = gt_centernote
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/gt_centernote.git
